<main role="main">



    <section class="hero">
        <div class="container" style="position:relative; right:-10%;">
            <h1 class="jumbotron-heading" >Effective self-learning</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <!-- <section class="products">
    <div class="section-title">
        <h2>Our Videos</h2>
    </div>
    <div class="products-center">
        
    </div>
</section> -->
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <% products.forEach(product=>{ %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%"
                                y="50%">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-title">Product: <%= product.name%></p>
                            <p class="card-title">Advisor: <%= product.advisor%></p>
                            <p class="card-title">Description: <%= product.description%></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                    <a href="/products/<%= product._id %>" class="btn btn-sm btn-outline-secondary">
                                        More Information</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</main>







<script src="./javascripts/app.js"></script>